body {
  background: rgba(70, 142, 236);
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #fff;
  text-align: center;
}

section {
  background: #fff;
  border-radius: 10px;
  padding: 32px 16px 32px 16px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
  color: #fff;
  text-align: center;
  font-style: italic;
}

#tabuada {
  margin: 32px 0;
}
#tabuada select {
  width: 200px;
  padding: 16px;
}

#formulario input {
  padding: 5px;
}
